# キーボード名（Bluetooth デバイス名）
CONFIG_BT_DEVICE_NAME="AroundForty-TB_R"

# Bluetooth 名の最大長を 32 に拡張
CONFIG_BT_DEVICE_NAME_MAX=32

# Split keyboard support
CONFIG_ZMK_SPLIT=y
CONFIG_ZMK_SPLIT_ROLE_CENTRAL=y
