if SHIELD_AROUND_FORTY_TB_RIGHT

config ZMK_KEYBOARD_NAME
    string
    default "AroundFortyTB_R"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_AROUND_FORTY_TB_LEFT
config ZMK_KEYBOARD_NAME
    default "AroundFortyTB_L"

config ZMK_SPLIT
    default y

endif
